@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global styles file */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
